{% extends 'theme.html' %}


{% block title %}
Hero Details
{% endblock title %}


{% block content %}

<div class="row">

    <div class="card col-lg">

        <div class="card-header person">
            HERO
        </div>
        <div class="card-body">


            <table class="table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</a></td>
                </tr>
                <tr>
                    <td>Identity</td>
                    <td>{{ object.identity }}</td>
                </tr>
                <tr>
                    <td>Strengths</td>
                    <td>{{object.strengths}}</td>
                </tr>
                <tr>
                    <td>Weaknessess</td>
                    <td>{{object.weaknesses}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{object.description}}</td>
                </tr>
                <tr>
                    <img src="/static/images/{{object.image}}" alt="" width="200">
                </tr>
            </table>

            <p>
                <a href="add" class="btn btn-success m-5">Add New Hero</a>
                <a href="{{ object.pk }}/" class="btn btn-success m-5">Edit Hero</a>
                <a class="btn btn-success m-5" href="{{object.pk}}/delete">Delete Hero</a>
            </p>
        </div>

    </div>

</div>

{% endblock content %}